## Import data from IMDB

In [1]:
import pandas as pd

In [2]:
pricipals_df = pd.read_csv("title.pricipals.tsv", sep="\t")
pricipals_df

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N
...,...,...,...,...,...,...
50014871,tt9916880,4,nm10535738,actress,\N,"[""Horrid Henry""]"
50014872,tt9916880,5,nm0996406,director,principal director,\N
50014873,tt9916880,6,nm1482639,writer,\N,\N
50014874,tt9916880,7,nm2586970,writer,books,\N
50014875,tt9916880,8,nm1594058,producer,producer,\N

In [3]:
basics_df = pd.read_csv("title.basics.tsv", sep="\t", low_memory=False)
basics_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
8870617,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
8870618,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
8870619,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
8870620,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
8870621,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [4]:
name_df = pd.read_csv("name.basics.tsv", sep="\t")
name_df

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0031983,tt0072308,tt0050419,tt0053137"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0038355,tt0071877,tt0117057,tt0037382"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0056404,tt0054452,tt0057345,tt0049189"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0077975,tt0072562,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0069467,tt0083922,tt0050986,tt0060827"
...,...,...,...,...,...,...
11582529,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt11657662,tt2455546,tt14069590"
11582530,nm9993716,Essias Loberg,\N,\N,NaN,\N
11582531,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
11582532,nm9993718,Aayush Nair,\N,\N,cinematographer,\N
11582533,nm9993719,Andre Hill,\N,\N,NaN,\N

## Data cleaning

In [5]:
# Only keep category column is "actor"
pricipals_df = pricipals_df[pricipals_df['category'] == 'actor']
# drop ordering, category, job and characters columns
pricipals_df = pricipals_df.drop(['ordering', 'category', 'job', 'characters'], axis=1) 
pricipals_df

             tconst      nconst
11        tt0000005   nm0443482
12        tt0000005   nm0653042
16        tt0000007   nm0179163
17        tt0000007   nm0183947
21        tt0000008   nm0653028
...             ...         ...
50014851  tt9916852   nm5519557
50014852  tt9916852   nm8825009
50014862  tt9916856  nm10538646
50014868  tt9916880   nm1483166
50014870  tt9916880   nm0286175

[11118202 rows x 2 columns]

In [6]:
# drop titleType, originalTitle, isAdult, endYear, runtimeMinutes and genres columns
basics_df = basics_df.drop(['titleType', 'originalTitle', 'isAdult', 'endYear', 'runtimeMinutes', 'genres'], axis=1) 
# Filter data by startYear is "1990"
basics_df = basics_df[basics_df['startYear'] == '1990']
basics_df

            tconst                    primaryTitle startYear
58205    tt0059325                     Born in '45      1990
58759    tt0059900  Wenn du groß bist, lieber Adam      1990
63893    tt0065188         Vojtech, receny sirotek      1990
67130    tt0068494                    Domo Arigato      1990
73695    tt0075259                       Spy Story      1990
...            ...                             ...       ...
8868538  tt9912346                   Jeanne Bourin      1990
8868552  tt9912376                   Irina Ionesco      1990
8868554  tt9912380                   Charles Hernu      1990
8870305  tt9916194    Episode dated 5 October 1990      1990
8870526  tt9916654   Episode dated 2 February 1990      1990

[46819 rows x 3 columns]

In [7]:
# drop birthYear, deathYear, primaryProfession, and knownForTitles columns
name_df = name_df.drop(['birthYear', 'deathYear', 'primaryProfession', 'knownForTitles'], axis=1) 
name_df

             nconst         primaryName
0         nm0000001        Fred Astaire
1         nm0000002       Lauren Bacall
2         nm0000003     Brigitte Bardot
3         nm0000004        John Belushi
4         nm0000005      Ingmar Bergman
...             ...                 ...
11582529  nm9993714   Romeo del Rosario
11582530  nm9993716       Essias Loberg
11582531  nm9993717  Harikrishnan Rajan
11582532  nm9993718         Aayush Nair
11582533  nm9993719          Andre Hill

[11582534 rows x 2 columns]

In [8]:
# Merge the three tables
df = pd.merge(left=basics_df,right=pricipals_df,on='tconst')
df = pd.merge(left=df,right=name_df,on='nconst')
# Export data to "hypergraph_data.csv"
df.to_csv('hypergraph_data.csv',index = False)

In [9]:
import pandas as pd
df = pd.read_csv('hypergraph_data.csv')
df

,tconst,primaryTitle,startYear,nconst,primaryName
0,tt0059325,Born in '45,1990,nm0753957,Rolf Römer
1,tt0059325,Born in '45,1990,nm2535970,Paul Eichbaum
2,tt0059325,Born in '45,1990,nm0537007,Holger Mahlich
3,tt0099958,Die Kupferfalle,1990,nm0537007,Holger Mahlich
4,tt0059900,"Wenn du groß bist, lieber Adam",1990,nm1052658,Stephan Jahnke
...,...,...,...,...,...
78431,tt9894646,The Lady from Rome Part 3,1990,nm7580066,Anthony M. Chin
78432,tt9894646,The Lady from Rome Part 3,1990,nm1199293,Giuliano Gensini
78433,tt9894646,The Lady from Rome Part 3,1990,nm0302380,Frank Gallagher
78434,tt9894880,Adiós a Cali,1990,nm2762404,Fernell Franco
78435,tt9894880,Adiós a Cali,1990,nm10529611,Óscar Muñoz

## The COO representation

In [10]:
import numpy as np
import pandas as pd
import nwhy as nwhy
import copy
import os
os.environ["KMP_DUPLICATE_LIB_OK"]="TRUE"

# Select all values of the tconst column from the dataframe
tconst = copy.copy(df.iloc[:,0].values)
# Select all values of the primaryTitle column from the dataframe
primaryTitle = copy.copy(df.iloc[:,1].values)
# Select all values of the nconst column from the dataframe
nconst = copy.copy(df.iloc[:,3].values)
# Select all values of the primaryName column from the dataframe
primaryName = copy.copy(df.iloc[:,4].values)


hyperedge_to_title_dic = dict()
title_to_hyperedge_dic = dict()
tconst_dic = dict()
i = 0
j = 0
for item in tconst:
    if(not tconst_dic.__contains__(item)):
        tconst_dic[item] = i
        hyperedge_to_title_dic[i] = primaryTitle[j]
        if(not title_to_hyperedge_dic.__contains__(primaryTitle[j])):
            title_to_hyperedge_dic[primaryTitle[j]] = []
        title_to_hyperedge_dic[primaryTitle[j]].append(i)
        i += 1
    tconst[j] = tconst_dic[item]
    j += 1

vertex_to_name_dic = dict()
name_to_vertex_dic = dict()
nconst_dic = dict()
i = 0
j = 0
for item in nconst:
    if(not nconst_dic.__contains__(item)):
        nconst_dic[item] = i
        vertex_to_name_dic[i] = primaryName[j]
        if(not name_to_vertex_dic.__contains__(primaryName[j])):
            name_to_vertex_dic[primaryName[j]] = []
        name_to_vertex_dic[primaryName[j]].append(i)
        i += 1
    nconst[j] = nconst_dic[item]
    j += 1

weight = [1] * tconst.size

# Row of sparse matrix of the hypergraph (hyperedges)
row = tconst
# Columns of sparse matrix of the hypergraph (vertices)
col = nconst
# Weights of sparse matrix of the hypergraph
data = np.array(weight)

## Create the hypergraph

In [11]:
# Create the hypergraph 
h = nwhy.NWHypergraph(row, col, data)
print('Hypergraph created successfully!', h)

Hypergraph created successfully! <nwhy.NWHypergraph object at 0x7f8d4858bef0>

## NWHypergraph class methods:

In [12]:
# NWHypergraph class methods:

# print('-- collapsing edges without returning equal class')
# equal_class = h.collapse_edges()
# print(equal_class)

# print('-- collapsing nodes without returning equal class')
# equal_class = h.collapse_nodes()
# print(equal_class)

# print('-- collapsing nodes and edges without returning equal class')
# equal_class = h.collapse_nodes_and_edges()
# print(equal_class)

# print('-- collapsing edges with returning equal class')
# equal_class = h.collapse_edges(return_equivalence_class=True)
# print(equal_class)

# print('-- collapsing nodes with returning equal class')
# equal_class = h.collapse_nodes(return_equivalence_class=True)
# print(equal_class)

# print('-- collapsing nodes and edges with returning equal class')
# equal_class = h.collapse_nodes_and_edges(return_equivalence_class=True)
# print(equal_class)

# print('-- edge_size_dist()')
# equal_class = h.edge_size_dist()
# print(equal_class)

# print('-- node_size_dist()')
# equal_class = h.node_size_dist()
# print(equal_class)

# print('-- edge_incidence(edge)')
# equal_class = h.edge_incidence(666)
# print(equal_class)

# print('-- node_incidence(node)')
# equal_class = h.node_incidence(666)
# print(equal_class)

# print('-- degree(node, min_size=1, max_size=None)')
# equal_class = h.degree(666, min_size=1, max_size=None)
# print(equal_class)

# print('-- size(edge, min_degree=1, max_degree=None)')
# equal_class = h.size(666, min_degree=1, max_degree=None)
# print(equal_class)

# print('-- dim(edge)')
# equal_class = h.dim(666)
# print(equal_class)

# print('-- number_of_nodes()')
# equal_class = h.number_of_nodes()
# print(equal_class)

# print('-- number_of_edges()')
# equal_class = h.number_of_edges()
# print(equal_class)

# print('-- singletons()')
# equal_class = h.singletons()
# print(equal_class)

# print('-- toplexes()')
# equal_class = h.toplexes()
# print(equal_class)

# print('-- s_linegraph(s=1, edges=True)')
# equal_class = h.s_linegraph(s=1, edges=True)
# print(equal_class)

# print('-- s_linegraphs(l, edges=True)')
# equal_class = h.s_linegraphs([1,2,3,4,5,6], edges=True)
# print(equal_class)

## Hypergraph application(analysis)

### Query 1: How many TV shows/movies in IMDB whose startYear is 1990?

In [13]:
num_tv_movie_1990 = h.number_of_edges()
print('The number of TV shows/movies whose startYear is 1990: ', num_tv_movie_1990)

The number of TV shows/movies whose startYear is 1990:  27612

### Query 2: How many actors who have acted in TV shows/movies with startYear of 1990 in IMDB?

In [14]:
num_actor_1990 = h.number_of_nodes()
print('The number of actors who have acted in TV shows/movies with startYear of 1990: ', num_actor_1990)

The number of actors who have acted in TV shows/movies with startYear of 1990:  21121

### Query 3: Enter a TV show/movie with startYear of 1990 in IMDB, and query the number of actors in that TV show/movie.

In [15]:
title_tv_movie = input("Please enter a TV show/movie title: ")
if(title_to_hyperedge_dic.__contains__(title_tv_movie)):
    # More than one line of output indicates that multiple movies have the same name.
    for hyperedge in title_to_hyperedge_dic[title_tv_movie]:
        num_actor_tv_movie = h.size(hyperedge, min_degree=1, max_degree=None)
        print('The number of actors in "', title_tv_movie, '": ', num_actor_tv_movie)
else:
    print('Sorry, the TV show/movie "', title_tv_movie, '" was not found!')

Please enter a TV show/movie title: Die Kupferfalle
The number of actors in " Die Kupferfalle ":  7

### Query 4: Enter a TV show/movie with startYear of 1990 in IMDB, and query the actors in that TV show/movie.

In [16]:
title_tv_movie = input("Please enter a TV show/movie title: ")
if(title_to_hyperedge_dic.__contains__(title_tv_movie)):
    # More than one block of output indicates that multiple movies have the same name.
    for hyperedge in title_to_hyperedge_dic[title_tv_movie]:
        vertices = h.edge_incidence(hyperedge)
        for vertex in vertices:
            name = vertex_to_name_dic[vertex]
            print('Actor', vertices.index(vertex) + 1, 'in "', title_tv_movie, '":', name)
else:
    print('Sorry, the TV show/movie "', title_tv_movie, '" was not found!')

Please enter a TV show/movie title: Die Kupferfalle
Actor 1 in " Die Kupferfalle ": Holger Mahlich
Actor 2 in " Die Kupferfalle ": Ivan Desny
Actor 3 in " Die Kupferfalle ": Wolfgang Wahl
Actor 4 in " Die Kupferfalle ": Peter Bongartz
Actor 5 in " Die Kupferfalle ": Klaus J. Behrendt
Actor 6 in " Die Kupferfalle ": Vincenzo Benestante
Actor 7 in " Die Kupferfalle ": Ulrich Gebauer

### Query 5: Enter an actor, and query the number of TV shows/movies with starYear of 1990 in which the actor is in.

In [17]:
name_actor = input("Please enter an actor: ")
if(name_to_vertex_dic.__contains__(name_actor)):
    # More than one line of output indicates that multiple actors have the same name.
    for vertex in name_to_vertex_dic[name_actor]:
        num_tv_movie_actor = h.degree(vertex, min_size=1, max_size=None)
        print('The number of TV shows/movies with startYear of 1990 "', name_actor, '" is in: ', num_tv_movie_actor)
else:
    print('Sorry, the actor "', name_actor, '" was not found!')

Please enter an actor: Holger Mahlich
The number of TV shows/movies with startYear of 1990 " Holger Mahlich " is in:  2

### Query 6: Enter an actor, and query TV shows/movies with starYear of 1990 in which the actor is in.

In [18]:
name_actor = input("Please enter an actor: ")
if(name_to_vertex_dic.__contains__(name_actor)):
    # More than one block of output indicates that multiple movies have the same name.
    for vertex in name_to_vertex_dic[name_actor]:
        hyperedges = h.node_incidence(vertex)
        for hyperedge in hyperedges:
            title = hyperedge_to_title_dic[hyperedge]
            print('TV show/movie', hyperedges.index(hyperedge) + 1, '"', name_actor, '" is in: ', title)
else:
    print('Sorry, the actor "', name_actor, '" was not found!')

Please enter an actor: Holger Mahlich
TV show/movie 1 " Holger Mahlich " is in:  Born in '45
TV show/movie 2 " Holger Mahlich " is in:  Die Kupferfalle

### Query 7: Find the top N TV shows/movies with the most actors

In [19]:
N = int(input("Please enter the value of N: "))
num_vertices_arr = h.edge_size_dist()
desc_num_vertices_arr = sorted(num_vertices_arr, reverse = True)
N_desc_num_vertices_arr = desc_num_vertices_arr[:N]
print('Top #\tTV show/movie title\tthe number of actors\tactors\n')
i = 1
for item in N_desc_num_vertices_arr:
    idx = num_vertices_arr.index(item)
    num_vertices_arr[idx] = -1
    title = hyperedge_to_title_dic[idx]
    print('Top', i, '\t', title, '\t\t', item, end='\t')
    vertices = h.edge_incidence(idx)
    for vertex in vertices:
        name = vertex_to_name_dic[vertex]
        print(name,end = ', ')
    print('\n')
    i += 1

Please enter the value of N: 10
Top #	TV show/movie title	the number of actors	actors

Top 1 	 Top Cops 		 10	Steve Adams, Jeffrey Knight, Chris Potter, Victor Ertmanis, Matt Cooke, Bill Lake, Joseph Griffin, William Colgate, Allan Clow, Timm Zemanek,

Top 2 	 S*M*A*S*H 		 10	Tor Isedal, Måns Herngren, Svante Grundberg, Peter Wahlbeck, Felix Herngren, Sten Ljunggren, Tomas Norström, Claes Månsson, Per Eggers, Björn Granath,

Top 3 	 Barnyard Commandos 		 10	Pat Fraley, Thom Bray, S. Scott Bullock, Marc François, Paul Kreppel, John Mariano, Robert Ridgely, Lennie Weinrib, Danny Wells, Jacques Ferrière,

Top 4 	 Voyna na zapadnom napravlenii 		 10	Oleg Savkin, Nikolay Oleynik, Viktor Stepanov, Archil Gomiashvili, Mikhail Ulyanov, Igor Taradaikin, Pavel Morozenko, Pavel Makhotin, Vitali Rosstalnoy, Nikolay Zasukhin,

Top 5 	 O Rato dos Livros 		 10	José Eduardo, Rui Anjos, Orlando Costa, Fernando Gomes, António Feio, Quim Cachopo, Carlos Alberto Moniz, Waldemar de Souza, João Azevedo, Almeno Gonçalves,

Top 6 	 Don Tonino e la casa dei veleni 		 10	Giampiero Bianchi, Andrea Roncato, Gigi Sammarchi, Cesare Gallarini, Marco Bechini, Tommy Bianco, Sante Calogero, Salvatore Ciraolo, Marco Della Noce, Danilo Fernandez,

Top 7 	 De opendeurdag 		 10	Jacques Vermeire, Chris Cauwenberghs, Frank Dingenen, Guido Lauwaert, Vic Moeremans, Günther Lesage, Hans Cardijn, Bart De Pauw, Wouter Denayer, Wim Geysen,

Top 8 	 Het medisch onderzoek 		 10	Jacques Vermeire, Frank Dingenen, Guido Lauwaert, Günther Lesage, Hans Cardijn, Bart De Pauw, Wouter Denayer, Wim Geysen, Rob Renckens, Gert Nevens,

Top 9 	 De inspecteur 		 10	Jacques Vermeire, Koen Crucke, Chris Cauwenberghs, Frank Dingenen, Rudi Delhem, Hans Cardijn, Bart De Pauw, Wouter Denayer, Stany Crets, Koen De Cauter,

Top 10 	 Buys op de buis 		 10	Jacques Vermeire, Koen Crucke, Chris Cauwenberghs, Frank Dingenen, Günther Lesage, Hans Cardijn, Bart De Pauw, Wouter Denayer, Wim Geysen, Emiel Goelen,

### Query 8: Find the top N actors with the most appearance times

In [20]:
N = int(input("Please enter the value of N: "))
num_hyperedges_arr = h.node_size_dist()
desc_num_hyperedges_arr = sorted(num_hyperedges_arr, reverse = True)
N_desc_num_hyperedges_arr = desc_num_hyperedges_arr[:N]
print('Top #\tname\tthe number of TV shows/movies\tTV shows/movies\n')
i = 1
for item in N_desc_num_hyperedges_arr:
    idx = num_hyperedges_arr.index(item)
    num_hyperedges_arr[idx] = -1
    name = vertex_to_name_dic[idx]
    print('Top', i, '\t', name, '\t\t', item, end='\t')
    hyperedges = h.node_incidence(idx)
    for hyperedge in hyperedges:
        if(hyperedges.index(hyperedge) == 10):
            print('......')
            break
        title = hyperedge_to_title_dic[hyperedge]
        print(title,end = ', ')
    print('\n')
    i += 1

Please enter the value of N: 10
Top #	name	the number of TV shows/movies	TV shows/movies

Top 1 	 Eduardo Yáñez 		 344	Yo compro esa mujer, Episode #1.4, Episode #1.6, Episode #1.7, Episode #1.8, Episode #1.9, Episode #1.10, Episode #1.5, Episode #1.14, Episode #1.17, ......


Top 2 	 Omar Fierro 		 259	Lo inesperado, Cuando llega el amor, Furia asesina, Mi pequeña Soledad, Episode #1.4, Episode #1.5, Episode #1.6, Episode #1.7, Episode #1.8, Episode #1.9, ......


Top 3 	 Fernando Carrillo 		 251	Pasionaria, Episode #1.4, Episode #1.5, Episode #1.6, Episode #1.7, Episode #1.8, Episode #1.9, Episode #1.10, Episode #1.11, Episode #1.12, ......


Top 4 	 Henry Galué 		 251	Pasionaria, Episode #1.4, Episode #1.5, Episode #1.6, Episode #1.7, Episode #1.8, Episode #1.9, Episode #1.10, Episode #1.11, Episode #1.12, ......


Top 5 	 Luis Eduardo Arango 		 223	Música, maestro, Episode #2.60, Episode #1.4, Episode #1.6, Episode #1.5, Episode #1.7, Episode #1.9, Episode #1.8, Episode #1.11, Episode #1.10, ......


Top 6 	 Fernando González Pacheco 		 220	Música, maestro, Episode #2.60, Episode #1.4, Episode #1.6, Episode #1.5, Episode #1.7, Episode #1.9, Episode #1.8, Episode #1.11, Episode #1.10, ......


Top 7 	 Raúl Amundaray 		 211	Emperatriz, Episode #1.2, Episode #1.3, Episode #1.4, Episode #1.6, Episode #1.5, Episode #1.7, Episode #1.8, Episode #1.9, Episode #1.10, ......


Top 8 	 Eduardo Serrano 		 211	Emperatriz, Episode #1.2, Episode #1.3, Episode #1.4, Episode #1.6, Episode #1.5, Episode #1.7, Episode #1.8, Episode #1.9, Episode #1.10, ......


Top 9 	 Guillermo Dávila 		 209	Adorable Monica, Episode #1.4, Episode #1.5, Episode #1.6, Episode #1.7, Episode #1.8, Episode #1.9, Episode #1.10, Episode #1.11, Episode #1.13, ......


Top 10 	 Marcos Palmeira 		 207	Carnaval, Desire, Pantanal, Stelinha, Barrela: Escola de Crimes, Making of 'Pantanal', Episode #1.7, Episode #1.8, Episode #1.9, Episode #1.10, ......

### Query 9: Find movies with only one actor in it, and that actor only acted in that movie.

In [21]:
singleton_hyperedges = h.singletons()
if(len(singleton_hyperedges) > 0):
    print('title\t\t\t\t\t\t\tactor\n')
else:
    print('There is no such movie.')
for hyperedge in singleton_hyperedges:
    if(singleton_hyperedges.index(hyperedge) == 30):
        print('......')
        break
    title = hyperedge_to_title_dic[hyperedge]
    print(title, end = '\t\t\t\t\t\t\t')
    vertices = h.edge_incidence(hyperedge)
    name = vertex_to_name_dic[vertices[0]]
    print(name)

title							actor

Dragon Hunt							B. Bob
Man Eaters							Daniel Colas
Sometime in August							Craig Lorimer
The American Angels: Baptism of Blood							Tray Loren
Cézanne - Conversation with Joachim Gasquet							Jean-Marie Straub
Les noces de papier							Manuel Aranguiz
Ono							Rolan Bykov
Party Girls							Kurt Woodruff
A Woman's Revenge							Jean-Louis Murat
Forbidden Love							Hans-Peter Dahm
America Tonight							Fred Melamed
The Crystal Maze							Adam Buxton
Kevin Seal, Sporting Fool							Kevin Seal
Marleneken							Wolfried Lier
On Scene: Emergency Response							Dave Forman
Overtime... with Pat O'Brien							Pat O'Brien
Alan Alda in Scientific American Frontiers							John Osborne
Video Challenge							Steve Kelley
All the Vermeers in New York							Stephen Lack
American Dream							Juan Munoz
Artikos							Nelson Villagra
Aschenglut							Mathieu Carrière
Baito							Jan Dop
Basket Case 2							Kevin Van Hentenryck
Die Beichte							Jochen Kuhn
Best Shots							Mick Best
Der Blasi							Reinhard Nowak
Blue Bayou							Michael Audley
Blue Planet							James Buchli
Le blé en herbe							Matthieu Rozé
......